asgiref==3.5.2
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bleach==5.0.1
cffi==1.15.1
colorama==0.4.5
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
dj-database-url==0.5.0
Django==4.0.6
django-filter==22.1
django-heroku==0.3.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.16.1
gunicorn==20.1.0
importlib-metadata==4.12.0
importlib-resources==5.8.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.7.2
notebook==6.4.12
python-dateutil==2.8.2
pytz==2022.1
sqlparse==0.4.2
